<html>
    <head>
        <title>Spotify Song Suggestor</title>
        <link rel="stylesheet" href="styles.css">
        <style type="text/css">
        html {
            text-align: center;
            color:white;
        }
        body {
            background-image: url(static/background.jpg);
            background-color: #cccccc;
            background-size: cover;
            background-position: center;
            font-family: Comic Sans MS, Comic Sans, cursive;
        }
        ul {
            margin-left: -40px;
            list-style: none;
        }
        </style>
    </head>
    <body>
        
        <h1>Spotify Song Suggestor</h1>

        <form action="/", method="POST">
            <h3>Spotify Song Link:</h3>
            <input type="text" name="link">
            <input type="submit" value="Submit">
        </form>
        <p>{{ message }}</p>

        <h2>Results</h2>
        <ul>
        {% for link in links %}
            <li><a href="{{link}}">{{link}}</a></li>
        {% endfor %}
        </ul>
        
    </body>
</html>